<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/socketio.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/entity.js') }}"></script>
    <script src="{{ url_for('static', filename='js/item.js') }}"></script>
    <script src="{{ url_for('static', filename='js/transaction.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stock.js') }}"></script>
</head>

<body>
<!-- HOME PAGE -->
<div id="homePage" class="home-page">

    <button class="logout-btn" onclick="logout()">Logout</button>

    <div class="home-center">
        <button onclick="openModule('entry')">Entry Dashboard</button>
        <button onclick="openModule('item')">Item Dashboard</button>
        <button onclick="openModule('entity')">Entity Dashboard</button>
        <button onclick="openModule('stock')">Stock Dashboard</button>
    </div>

</div>

<div id="appPage">
    <!-- TOP -->
    <div class="top">
        <button class="location-btn" onclick="setLocation('TN')">Tamil Nadu</button>
        <button class="location-btn" onclick="setLocation('KA')">Karnataka</button>
        <button class="location-btn" onclick="setLocation('AP')">Andhra</button>


        <input id="search" placeholder="Search person...">
    </div>

    <!-- LEFT -->
    <div class="left">
        <button onclick="home()">Home</button>
        <h3>Options</h3>
        <button onclick="addEntry()">+ Add Entry</button>
        <button onclick="addItem()">+ Add Item</button>
        <button onclick="editSelected()">Edit</button>
        <button onclick="deleteSelected()">Delete</button>
        <h3>Filters</h3>
        <input type="date">
        <input type="date">
        <input type="number" placeholder="Max Transactions">
    </div>

    <!-- MAIN -->
    <div class="main">
        <div id="grid" class="grid"></div>
    </div>
</div>

</body>
</html>